header {
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #bbc1c8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  padding: 0.75rem 1rem;
}

.navbar-nav .nav-item .nav-link {
  color: #8796a6;
  font-weight: 500;
  margin-right: 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #093769;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0f4d8b;
}

.container-sm {
  padding-top: 100px; /* Adjust this based on the height of your navbar */
}
